Repository python-telegram-bot/python-telegram-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy-ptb, mypy-examples

.pre-commit-config.yaml:

# Make sure that
#   * the revs specified here match requirements-dev.txt
#   * the makefile checks the same files as pre-commit
repos:
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
        args:
        - --diff
        - --check
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^(telegram|examples)/.*\.py$
        args:
        - --rcfile=setup.cfg
-   repo: local
    hooks:
      - id: mypy-ptb
        name: mypy-ptb
        entry: mypy
        language: system
        files: ^telegram/.*\.py$
-   repo: local
    hooks:
       - id: mypy-examples
         name: mypy-examples
         entry: mypy
         language: system
         files: ^examples/.*\.py$
         args:
             - --no-strict-optional
             - --follow-imports=silent
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
    -   id: pyupgrade
        files: ^(telegram|examples|tests)/.*\.py$
        args:
            - --py36-plus

Try to get ignore right
  .deepsource.toml
Due: none

Update badges again
  README.rst
  README_RAW.rst
Due: none

Get started on fixing issues
  telegram/__main__.py
  telegram/chat.py
  telegram/ext/dispatcher.py
  telegram/ext/filters.py
  telegram/ext/handler.py
  telegram/ext/inlinequeryhandler.py
  telegram/ext/jobqueue.py
  telegram/ext/updater.py
  telegram/ext/utils/promise.py
  telegram/ext/utils/webhookhandler.py
  telegram/inline/inputlocationmessagecontent.py
  telegram/message.py
  telegram/messageautodeletetimerchanged.py
  telegram/passport/credentials.py
  telegram/user.py
  telegram/utils/helpers.py
  telegram/utils/promise.py
  telegram/utils/request.py
  telegram/utils/webhookhandler.py
  telegram/voicechat.py
Due: pylint, mypy-ptb

Improve type hinting of data filters
  telegram/ext/filters.py
  telegram/ext/messagehandler.py
Due: pylint, mypy-ptb

Fix some more issues
  telegram/bot.py
  telegram/dice.py
  telegram/ext/dispatcher.py
  telegram/ext/filters.py
  telegram/ext/inlinequeryhandler.py
  telegram/ext/jobqueue.py
  telegram/ext/messagequeue.py
  telegram/ext/updater.py
  telegram/ext/utils/promise.py
  telegram/passport/credentials.py
  telegram/user.py
  telegram/utils/helpers.py
  telegram/utils/request.py
Due: pylint, mypy-ptb

Remove more plank lines
  telegram/base.py
  telegram/ext/messagequeue.py
Due: pylint, mypy-ptb

Docs for de_json/list & to_dict/json
  telegram/base.py
  telegram/bot.py
  telegram/callbackquery.py
  telegram/chat.py
  telegram/chatinvitelink.py
  telegram/chatlocation.py
  telegram/chatmember.py
  telegram/chatmemberupdated.py
  telegram/choseninlineresult.py
  telegram/files/animation.py
  telegram/files/audio.py
  telegram/files/document.py
  telegram/files/inputmedia.py
  telegram/files/sticker.py
  telegram/files/venue.py
  telegram/files/video.py
  telegram/files/videonote.py
  telegram/games/game.py
  telegram/games/gamehighscore.py
  telegram/inline/inlinekeyboardmarkup.py
  telegram/inline/inlinequery.py
  telegram/inline/inlinequeryresult.py
  telegram/inline/inputtextmessagecontent.py
  telegram/message.py
  telegram/messageentity.py
  telegram/passport/credentials.py
  telegram/passport/encryptedpassportelement.py
  telegram/passport/passportdata.py
  telegram/passport/passportfile.py
  telegram/payment/orderinfo.py
  telegram/payment/precheckoutquery.py
  telegram/payment/shippingoption.py
  telegram/payment/shippingquery.py
  telegram/payment/successfulpayment.py
  telegram/poll.py
  telegram/proximityalerttriggered.py
  telegram/replykeyboardmarkup.py
  telegram/update.py
  telegram/userprofilephotos.py
  telegram/voicechat.py
Due: pylint, mypy-ptb

Some improvements from deepcode.ai
  examples/passportbot.py
  telegram/ext/updater.py
  tests/plugin_github_group.py
  tests/test_animation.py
  tests/test_bot.py
  tests/test_official.py
Due: pylint, mypy-ptb, mypy-examples

Some more improvements
  examples/passportbot.py
  telegram/base.py
  telegram/files/file.py
  telegram/files/inputfile.py
  telegram/utils/request.py
Due: pylint, mypy-ptb, mypy-examples

Some more improvements
  telegram/ext/jobqueue.py
  telegram/ext/updater.py
  telegram/files/sticker.py
  telegram/passport/encryptedpassportelement.py
  telegram/passport/passportfile.py
  telegram/utils/deprecate.py
  telegram/voicechat.py
  tests/test_persistence.py
Due: pylint, mypy-ptb

More docstrnigs & let's run DS on the tests just for fun
  .deepsource.toml
  telegram/error.py
Due: pylint, mypy-ptb

Some more improvements for tests, but that shall be enough
  .deepsource.toml
  tests/test_constants.py
  tests/test_document.py
  tests/test_filters.py
  tests/test_invoice.py
  tests/test_message.py
  tests/test_persistence.py
  tests/test_update.py
  tests/test_updater.py
Due: none

deprecate CA.upload/record_audio in favor of ca.u/r_voice
  telegram/chataction.py
  telegram/constants.py
Due: pylint, mypy-ptb

tests
  tests/test_bot.py
Due: none

Some rendering for tg.constants docs
  telegram/constants.py
Due: pylint, mypy-ptb

Fix test
  tests/test_bot.py
Due: none

Minor adjustments to reflect official API docs
  telegram/bot.py
  telegram/inline/inlinequeryresult.py
Due: pylint, mypy-ptb

Warn if number of workers < one
  telegram/ext/dispatcher.py
  tests/test_dispatcher.py
Due: pylint, mypy-ptb

improve warning message
  telegram/ext/dispatcher.py
  tests/test_dispatcher.py
Due: pylint, mypy-ptb

feat: adding link to explanation wiki
  examples/README.md
  examples/inlinekeyboard.py
Due: pylint, mypy-examples

warn if converstation handler return unknown state
  telegram/ext/conversationhandler.py
  telegram/ext/dispatcher.py
  tests/test_conversationhandler.py
  tests/test_dispatcher.py
Due: pylint, mypy-ptb

feat: expanding ReplyMarkup doc
  telegram/replymarkup.py
Due: pylint, mypy-ptb

Some more docstrings for functions
  telegram/ext/callbackqueryhandler.py
  telegram/ext/commandhandler.py
  telegram/ext/conversationhandler.py
  telegram/ext/inlinequeryhandler.py
  telegram/ext/messagehandler.py
  telegram/ext/regexhandler.py
  telegram/ext/stringcommandhandler.py
  telegram/ext/stringregexhandler.py
Due: pylint, mypy-ptb

Some minor stuff, try to fix tests
  telegram/ext/jobqueue.py
  telegram/ext/messagequeue.py
  telegram/ext/picklepersistence.py
  tests/test_animation.py
  tests/test_message.py
Due: pylint, mypy-ptb

Show handler name and state aswell, in warning
  telegram/ext/conversationhandler.py
  tests/test_conversationhandler.py
Due: pylint, mypy-ptb

Update timerbot.py
  examples/timerbot.py
Due: pylint, mypy-examples

minor nitpick
  telegram/ext/conversationhandler.py
Due: pylint, mypy-ptb

Add Two UserWarnings (#2464)
  telegram/ext/conversationhandler.py
  telegram/ext/dispatcher.py
  tests/test_conversationhandler.py
  tests/test_dispatcher.py
Due: pylint, mypy-ptb

request.py doc fixes
  telegram/utils/request.py
Due: pylint, mypy-ptb

add slots to forwarded_from
  telegram/ext/filters.py
Due: pylint, mypy-ptb

disable pylint false positive
  telegram/ext/typehandler.py
Due: pylint, mypy-ptb

Update DS config
  .deepsource.toml
Due: none

Still more docs
  examples/passportbot.py
  telegram/__main__.py
  telegram/bot.py
  telegram/ext/callbackcontext.py
Due: pylint, mypy-ptb, mypy-examples

feat: add docs about docs
  .github/CONTRIBUTING.rst
  .github/pull_request_template.md
Due: none

fix: improve looks
  .github/CONTRIBUTING.rst
Due: none

fix: make link work
  .github/CONTRIBUTING.rst
Due: none

fix: this looks better
  .github/CONTRIBUTING.rst
Due: none

Move CDC & ICD to tg.ext & some minor things
  docs/source/telegram.ext.callbackdatacache.rst
  docs/source/telegram.ext.invalidcallbackdata.rst
  docs/source/telegram.ext.rst
  docs/source/telegram.ext.utils.callbackdatacache.rst
  telegram/callbackquery.py
  telegram/ext/__init__.py
  telegram/ext/basepersistence.py
  telegram/ext/bot.py
  telegram/ext/callbackcontext.py
  telegram/ext/callbackdatacache.py
  telegram/ext/callbackqueryhandler.py
  telegram/ext/dictpersistence.py
  telegram/ext/dispatcher.py
  telegram/ext/picklepersistence.py
  telegram/ext/utils/types.py
  telegram/inline/inlinekeyboardbutton.py
  tests/test_bot.py
  tests/test_callbackcontext.py
  tests/test_callbackdatacache.py
  tests/test_error.py
  tests/test_persistence.py
Due: pylint, mypy-ptb
