Repository python-telegram-bot/python-telegram-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy-ptb, mypy-examples

.pre-commit-config.yaml:

# Make sure that
#   * the revs specified here match requirements-dev.txt
#   * the makefile checks the same files as pre-commit
repos:
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
        args:
        - --diff
        - --check
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^(telegram|examples)/.*\.py$
        args:
        - --rcfile=setup.cfg
-   repo: local
    hooks:
      - id: mypy-ptb
        name: mypy-ptb
        entry: mypy
        language: system
        files: ^telegram/.*\.py$
-   repo: local
    hooks:
       - id: mypy-examples
         name: mypy-examples
         entry: mypy
         language: system
         files: ^examples/.*\.py$
         args:
             - --no-strict-optional
             - --follow-imports=silent
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
    -   id: pyupgrade
        files: ^(telegram|examples|tests)/.*\.py$
        args:
            - --py36-plus

Try fixing docs
  .readthedocs.yml
Due: none

Alternate fix
  setup.py
Due: none

Fix setup.py (#2431)
  setup.py
Due: none

Bump version to v13.4.1
  CHANGES.rst
  docs/source/conf.py
  telegram/version.py
Due: pylint, mypy-ptb

Add note to start_webhook
  telegram/ext/updater.py
Due: pylint, mypy-ptb

Update telegram.ext.defaults.rst
  docs/source/telegram.ext.defaults.rst
Due: none

refactor timeout logic with promise.add_done_cb
  telegram/ext/conversationhandler.py
  telegram/ext/utils/promise.py
  tests/test_promise.py
Due: pylint, mypy-ptb

small fix
  telegram/ext/conversationhandler.py
  telegram/ext/utils/promise.py
Due: pylint, mypy-ptb

Address review
  telegram/ext/conversationhandler.py
  telegram/ext/utils/promise.py
  tests/test_conversationhandler.py
  tests/test_promise.py
Due: pylint, mypy-ptb

close issue, typo fixes, remove unnecessary condition, etc
  examples/conversationbot2.py
  examples/deeplinking.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
Due: pylint, mypy-examples

use ForceReply in example
  examples/persistentconversationbot.py
Due: pylint, mypy-examples

Fix some type hinting
  telegram/ext/conversationhandler.py
Due: pylint, mypy-ptb

Few fixes
  telegram/ext/conversationhandler.py
  tests/test_conversationhandler.py
  tests/test_promise.py
Due: pylint, mypy-ptb

fix tests
  telegram/ext/conversationhandler.py
Due: pylint, mypy-ptb

add slots stuff to all the new stuff
  telegram/chat.py
  telegram/chatinvitelink.py
  telegram/chatmember.py
  telegram/chatmemberupdated.py
  telegram/ext/chatmemberhandler.py
  telegram/message.py
  telegram/messageautodeletetimerchanged.py
  telegram/update.py
  telegram/voicechat.py
  tests/test_chatinvitelink.py
  tests/test_chatmemberhandler.py
  tests/test_chatmemberupdated.py
  tests/test_messageautodeletetimerchanged.py
  tests/test_voicechat.py
Due: pylint, mypy-ptb

remove extra whitespace
  examples/conversationbot2.py
Due: pylint, mypy-examples

new filter and more tests!
  telegram/ext/filters.py
  tests/test_filters.py
Due: pylint, mypy-ptb

minor nitpick
  telegram/ext/conversationhandler.py
  telegram/ext/utils/promise.py
  tests/test_promise.py
Due: pylint, mypy-ptb

document forward filter better, fix a test.
  telegram/ext/filters.py
  tests/test_filters.py
Due: pylint, mypy-ptb

Minor formulation nitpicking
  telegram/ext/filters.py
Due: pylint, mypy-ptb

Filters.forwarded_from (#2446)
  telegram/ext/filters.py
  tests/test_filters.py
Due: pylint, mypy-ptb

address review, handle empty inline queries.
  examples/echobot.py
  examples/inlinebot.py
  examples/persistentconversationbot.py
Due: pylint, mypy-examples

give telegram.ext.Handler its own test file
  tests/test_handler.py
  tests/test_typehandler.py
Due: none

Cosmetics
  examples/echobot.py
Due: pylint, mypy-examples

Improve Examples (#2441)
  examples/conversationbot2.py
  examples/deeplinking.py
  examples/echobot.py
  examples/inlinebot.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
Due: pylint, mypy-examples

add escape for '!'
  examples/echobot.py
Due: pylint, mypy-examples

Fix echobot.py Example (#2448)
  examples/echobot.py
Due: pylint, mypy-examples

chore: refactor code quality issues
  .deepsource.toml
  docs/source/conf.py
  examples/echobot.py
  setup.py
  telegram/base.py
  telegram/bot.py
  telegram/ext/commandhandler.py
  telegram/ext/conversationhandler.py
  telegram/ext/dispatcher.py
  telegram/ext/handler.py
  telegram/ext/picklepersistence.py
  telegram/games/game.py
  telegram/message.py
  telegram/utils/request.py
  tests/test_chat.py
  tests/test_commandhandler.py
  tests/test_conversationhandler.py
  tests/test_dispatcher.py
  tests/test_error.py
Due: pylint, mypy-ptb, mypy-examples

b64-encode fallback bot details
  tests/bots.py
  tests/test_bot.py
Due: none

Update Fallback Test-Bots (#2451)
  tests/bots.py
  tests/test_bot.py
Due: none

Add comment for removing assert statements
  telegram/bot.py
Due: pylint, mypy-ptb

Update timerbot.py
  examples/timerbot.py
Due: pylint, mypy-examples

Remove deepsource config file
  .deepsource.toml
Due: none

echobot.py
  examples/echobot.py
Due: pylint, mypy-examples

Fix Coverage
  tests/test_bot.py
  tests/test_persistence.py
Due: none

Improve Code Quality (#2450)
  docs/source/conf.py
  examples/echobot.py
  setup.py
  telegram/base.py
  telegram/bot.py
  telegram/ext/commandhandler.py
  telegram/ext/conversationhandler.py
  telegram/ext/dispatcher.py
  telegram/ext/handler.py
  telegram/ext/picklepersistence.py
  telegram/games/game.py
  telegram/message.py
  telegram/utils/request.py
  tests/test_bot.py
  tests/test_chat.py
  tests/test_commandhandler.py
  tests/test_conversationhandler.py
  tests/test_dispatcher.py
  tests/test_error.py
  tests/test_persistence.py
Due: pylint, mypy-ptb, mypy-examples

Add deepsource config
  .deepsource.toml
Due: none

Update Badges
  README.rst
  README_RAW.rst
Due: none

Update Badges some more
  README.rst
  README_RAW.rst
Due: none
