Repository python-telegram-bot/python-telegram-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy-ptb, mypy-examples

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=setup.cfg

mypy-ptb:
  name: mypy-ptb
  entry: mypy
  language: system

mypy-examples:
  name: mypy-examples
  entry: mypy
  language: system
  args:
  - --no-strict-optional
  - --follow-imports=silent

Add note on donations
  README.rst
  README_RAW.rst
Due: none

typo
  README.rst
  README_RAW.rst
Due: none

Handle promise states in conversation timeout
  telegram/ext/conversationhandler.py
Due: pylint, mypy-ptb

warn if nested conversation & timeout
  telegram/ext/conversationhandler.py
  tests/test_conversationhandler.py
Due: pylint, mypy-ptb

typo in User.get_profile_pictures docstrings
  telegram/user.py
Due: pylint, mypy-ptb

Address review 2
  telegram/bot.py
  telegram/ext/dispatcher.py
  telegram/ext/filters.py
  telegram/ext/handler.py
  telegram/ext/messagequeue.py
  telegram/ext/updater.py
  telegram/message.py
  tests/conftest.py
  tests/test_bot.py
  tests/test_dispatcher.py
  tests/test_message.py
  tests/test_messagequeue.py
  tests/test_persistence.py
  tests/test_slots.py
  tests/test_updater.py
Due: pylint, mypy-ptb

Move TelegramDecryptionError to error.py
  telegram/__init__.py
  telegram/error.py
  telegram/passport/credentials.py
Due: pylint, mypy-ptb

fix a test
  tests/conftest.py
  tests/test_bot.py
Due: none

Add notes and test for conversation_timeout
  telegram/ext/conversationhandler.py
  tests/test_conversationhandler.py
Due: pylint, mypy-ptb

Try to fix pre-commit
  telegram/ext/conversationhandler.py
Due: pylint, mypy-ptb

Get started
  telegram/ext/updater.py
  tests/test_updater.py
Due: pylint, mypy-ptb

address review 3, revert commit '851f0b7'
  telegram/__init__.py
  telegram/bot.py
  telegram/error.py
  telegram/ext/dispatcher.py
  telegram/ext/updater.py
  telegram/message.py
  telegram/passport/credentials.py
  tests/test_bot.py
  tests/test_dispatcher.py
  tests/test_slots.py
  tests/test_updater.py
Due: pylint, mypy-ptb

Test promise exception
  tests/test_conversationhandler.py
Due: none

Welp
  tests/test_conversationhandler.py
Due: none

Try stabalizing pin&unpin test
  tests/test_bot.py
Due: none

improve docs
  telegram/ext/conversationhandler.py
  tests/test_conversationhandler.py
Due: pylint, mypy-ptb

typo
  telegram/ext/conversationhandler.py
Due: pylint, mypy-ptb

rabochie changes
  examples/echobot.py
  examples/inlinebot.py
  examples/vkonlinechecker.py
  examples/vkonlinecheckerWork1.py
  telegram/utils/helpers.py
Due: pylint, mypy-ptb, mypy-examples

Drop file size tests
  tests/test_photo.py
Due: none

bump dev versions
  .pre-commit-config.yaml
  requirements-dev.txt
  requirements.txt
  telegram/ext/filters.py
  telegram/passport/credentials.py
Due: pylint, mypy-ptb

Rework pre-commit
  .pre-commit-config.yaml
  examples/persistentconversationbot.py
  telegram/bot.py
  telegram/chat.py
  telegram/user.py
Due: pylint, mypy-ptb, mypy-examples

Add GHA reminder to keep (dev) deps and pre-commit in sync
  .github/workflows/pre-commit_dependencies_notifier.yml
Due: none

Fix that one failing test …
  tests/test_bot.py
Due: none

Feat: New invite links
  docs/source/telegram.chatinvitelink.rst
  docs/source/telegram.rst
  telegram/__init__.py
  telegram/bot.py
  telegram/chatinvitelink.py
  tests/test_bot.py
  tests/test_chatinvitelink.py
Due: pylint, mypy-ptb

Fix: doc strings
  telegram/bot.py
  telegram/chatinvitelink.py
Due: pylint, mypy-ptb

new dice, new admin privilege, revoke_messages, update and fix some docs
  telegram/bot.py
  telegram/chatmember.py
  telegram/constants.py
  telegram/dice.py
  telegram/ext/filters.py
  telegram/inline/inlinequeryresult.py
  tests/test_bot.py
  tests/test_chatmember.py
  tests/test_filters.py
Due: pylint, mypy-ptb

add missing param to shortcut
  telegram/chat.py
Due: pylint, mypy-ptb

Fix: meth, not attr for meth, not attr
  telegram/bot.py
Due: pylint, mypy-ptb

filters + inlinequery doc fix
  telegram/ext/filters.py
  telegram/inline/inlinequery.py
Due: pylint, mypy-ptb

Address review
  .github/workflows/pre-commit_dependencies_notifier.yml
  requirements.txt
  telegram/ext/utils/webhookhandler.py
Due: pylint, mypy-ptb

Bump versions, update RTD config file
  .readthedocs.yml
  docs/requirements-docs.txt
  docs/source/conf.py
Due: none

Try fix build
  .readthedocs.yml
Due: none

Stabilize Tests (#2409)
  tests/test_bot.py
  tests/test_photo.py
Due: none

added another type ignore
  telegram/ext/utils/webhookhandler.py
Due: pylint, mypy-ptb

Add ChatMemberUpdated
  docs/source/telegram.chatmemberupdated.rst
  telegram/__init__.py
  telegram/callbackquery.py
  telegram/chat.py
  telegram/chatmemberupdated.py
  telegram/choseninlineresult.py
  telegram/inline/inlinequery.py
  telegram/message.py
  telegram/payment/precheckoutquery.py
  telegram/payment/shippingquery.py
  tests/test_chatmemberupdated.py
Due: pylint, mypy-ptb

be generous about webhookhandler typing
  setup.cfg
Due: none

Add voicechat related objects
  docs/source/telegram.rst
  docs/source/telegram.voicechatended.rst
  docs/source/telegram.voicechatparticipantsinvited.rst
  docs/source/telegram.voicechatstarted.rst
  telegram/__init__.py
  telegram/base.py
  telegram/message.py
  telegram/voicechat.py
  tests/test_message.py
  tests/test_voicechat.py
Due: pylint, mypy-ptb

add versionadd tags
  telegram/message.py
  telegram/voicechat.py
Due: pylint, mypy-ptb

Fix filter tests
  tests/test_filters.py
Due: none

Update tg.Update
  telegram/bot.py
  telegram/update.py
  tests/test_update.py
Due: pylint, mypy-ptb

Path conditions:
  pylint: any of: ^(telegram|examples)/.*\.py$
  mypy-ptb: any of: ^telegram/.*\.py$
  mypy-examples: any of: ^examples/.*\.py$
