Repository python-telegram-bot/python-telegram-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy-ptb, mypy-examples

.pre-commit-config.yaml:

# Make sure that
#   * the revs specified here match requirements-dev.txt
#   * the makefile checks the same files as pre-commit
repos:
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
        args:
        - --diff
        - --check
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^(telegram|examples)/.*\.py$
        args:
        - --rcfile=setup.cfg
-   repo: local
    hooks:
      - id: mypy-ptb
        name: mypy-ptb
        entry: mypy
        language: system
        files: ^telegram/.*\.py$
-   repo: local
    hooks:
       - id: mypy-examples
         name: mypy-examples
         entry: mypy
         language: system
         files: ^examples/.*\.py$
         args:
             - --no-strict-optional
             - --follow-imports=silent
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
    -   id: pyupgrade
        files: ^(telegram|examples|tests)/.*\.py$
        args:
            - --py36-plus

Improve docs of CmdHldr & PfHdlr
  telegram/ext/commandhandler.py
Due: pylint, mypy-ptb

mark some occasionally failing tests as flaky
  tests/test_conversationhandler.py
  tests/test_updater.py
Due: none

fix test which was failing locally for some reason
  tests/test_inlinekeyboardmarkup.py
Due: none

Don't fail tests if they've exceeded the timeout
  requirements-dev.txt
  setup.cfg
  tests/conftest.py
Due: none

fix: order of argument
  telegram/bot.py
Due: pylint, mypy-ptb

Add some comments
  telegram/ext/callbackdatacache.py
Due: pylint, mypy-ptb

Update CDC.process_message and a bunch of new tests
  telegram/ext/bot.py
  telegram/ext/callbackdatacache.py
  tests/test_bot.py
  tests/test_callbackdatacache.py
Due: pylint, mypy-ptb

Fix a thing
  telegram/ext/bot.py
Due: pylint, mypy-ptb

Update for get_chat & some rendering
  telegram/bot.py
Due: pylint, mypy-ptb

My brain is leaking …
  telegram/bot.py
Due: pylint, mypy-ptb

Some more supergroups
  telegram/bot.py
Due: pylint, mypy-ptb

Update ChatActions (#2460)
  telegram/chataction.py
  telegram/constants.py
  tests/test_bot.py
Due: pylint, mypy-ptb

Fine tuning & More tests & Webhook-Support (can't belive, I've missed that so far …)
  telegram/ext/bot.py
  telegram/ext/callbackdatacache.py
  telegram/ext/utils/webhookhandler.py
  tests/test_bot.py
  tests/test_updater.py
Due: pylint, mypy-ptb

Update ordering in sidebar
  docs/source/index.rst
  docs/source/telegram.rst
  docs/source/telegram.utils.rst
Due: none

Add manual darkmode to docs
  docs/requirements-docs.txt
  docs/source/_static/dark.css
  docs/source/conf.py
Due: none

IKB.update_callback_data & Avoid returns for in-place functions
  telegram/ext/bot.py
  telegram/ext/callbackdatacache.py
  telegram/inline/inlinekeyboardbutton.py
  tests/test_callbackdatacache.py
  tests/test_inlinekeyboardbutton.py
Due: pylint, mypy-ptb

Some tiny changes in rtd index page
  docs/source/index.rst
Due: none

styl_external_links
  docs/source/conf.py
Due: none

fix rendering in request.py
  telegram/utils/request.py
Due: pylint, mypy-ptb

add 4 missing passport element error classes to docs
  docs/source/telegram.passportelementerrorselfie.rst
  docs/source/telegram.passportelementerrortranslationfile.rst
  docs/source/telegram.passportelementerrortranslationfiles.rst
  docs/source/telegram.passportelementerrorunspecified.rst
Due: none

remove extra passportelementerrorfile rst file
  docs/source/telegram.rst
Due: none

numerous passportelementerrors.py doc fixes
  telegram/passport/passportelementerrors.py
Due: pylint, mypy-ptb

rendering updates for updater.py
  telegram/ext/updater.py
Due: pylint, mypy-ptb

fix incorrect class doc string in telegram.utils.webhookhandler
  telegram/utils/webhookhandler.py
Due: pylint, mypy-ptb

Update docs naming convention
  docs/source/conf.py
Due: none

Try bumping rtd theme version
  docs/requirements-docs.txt
Due: none

Update dark.css after rtd-theme version bump
  docs/source/_static/dark.css
Due: none

Bump API Version to v5.2
  README.rst
  README_RAW.rst
  telegram/constants.py
Due: pylint, mypy-ptb

InputInvoiceMessageContent & simplify *Markup.__eq__ on the fly
  docs/source/telegram.inputinvoicemessagecontent.rst
  docs/source/telegram.rst
  telegram/__init__.py
  telegram/inline/inlinekeyboardmarkup.py
  telegram/inline/inputinvoicemessagecontent.py
  telegram/inline/inputmessagecontent.py
  telegram/replykeyboardmarkup.py
  tests/test_inputinvoicemessagecontent.py
Due: pylint, mypy-ptb

Updates to send_invoice
  examples/paymentbot.py
  telegram/bot.py
  telegram/chat.py
  telegram/message.py
  telegram/user.py
  tests/test_chat.py
  tests/test_invoice.py
  tests/test_message.py
  tests/test_user.py
Due: pylint, mypy-ptb, mypy-examples

InlineQuery updatees and new parameter for InlineQueryhandler
  telegram/chat.py
  telegram/constants.py
  telegram/ext/inlinequeryhandler.py
  telegram/inline/inlinequery.py
  telegram/inline/inputinvoicemessagecontent.py
  tests/test_inlinequery.py
  tests/test_inlinequeryhandler.py
Due: pylint, mypy-ptb

VCScheduled - not integrated into Message yet
  docs/source/telegram.rst
  docs/source/telegram.voicechatscheduled.rst
  telegram/__init__.py
  telegram/voicechat.py
  tests/test_voicechat.py
Due: pylint, mypy-ptb

Bump requirements-dev.txt versions
  .pre-commit-config.yaml
  requirements-dev.txt
  telegram/ext/dispatcher.py
Due: pylint, mypy-ptb

Message.voice_chat_scheduled & new Filters.status_update.vcs
  telegram/ext/filters.py
  telegram/message.py
  tests/test_filters.py
  tests/test_message.py
Due: pylint, mypy-ptb

Some doc updates
  telegram/bot.py
Due: pylint, mypy-ptb

ChatMemberUpdate.difference
  telegram/chatmemberupdated.py
  tests/test_chatmemberupdated.py
Due: pylint, mypy-ptb

constants for update types
  telegram/constants.py
  telegram/update.py
Due: pylint, mypy-ptb

Add an example for ChatMemberHandler
  examples/README.md
  examples/chatmemberbot.py
Due: pylint, mypy-examples

Update examples/chatmemberbot.py
  examples/chatmemberbot.py
Due: pylint, mypy-examples
