Repository python-telegram-bot/python-telegram-bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy-ptb, mypy-examples

.pre-commit-config.yaml:

# Make sure that
#   * the revs specified here match requirements-dev.txt
#   * the makefile checks the same files as pre-commit
repos:
-   repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    -   id: black
        args:
        - --diff
        - --check
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.8.4
    hooks:
    -   id: flake8
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        files: ^(telegram|examples)/.*\.py$
        args:
        - --rcfile=setup.cfg
-   repo: local
    hooks:
      - id: mypy-ptb
        name: mypy-ptb
        entry: mypy
        language: system
        files: ^telegram/.*\.py$
-   repo: local
    hooks:
       - id: mypy-examples
         name: mypy-examples
         entry: mypy
         language: system
         files: ^examples/.*\.py$
         args:
             - --no-strict-optional
             - --follow-imports=silent
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.10.0
    hooks:
    -   id: pyupgrade
        files: ^(telegram|examples|tests)/.*\.py$
        args:
            - --py36-plus

ChatMemberHandler
  docs/source/telegram.ext.chatmemberhandler.rst
  telegram/ext/__init__.py
  telegram/ext/chatmemberhandler.py
  tests/test_chatmemberhandler.py
Due: pylint, mypy-ptb

Add versioning directives
  telegram/ext/chatmemberhandler.py
  telegram/update.py
Due: pylint, mypy-ptb

add can_manage_voice_chats attr and fix docs
  telegram/bot.py
  telegram/chatmember.py
  telegram/message.py
  telegram/voicechat.py
  tests/test_bot.py
  tests/test_chatmember.py
Due: pylint, mypy-ptb

fix chat shortcut
  telegram/chat.py
Due: pylint, mypy-ptb

try to fix codecov
  tests/test_conversationhandler.py
Due: none

address review
  docs/source/telegram.ext.rst
  docs/source/telegram.rst
  telegram/ext/chatmemberhandler.py
Due: pylint, mypy-ptb

MADTC
  docs/source/telegram.messageautodeletetimerchanged.rst
  docs/source/telegram.rst
  telegram/__init__.py
  telegram/ext/filters.py
  telegram/message.py
  telegram/messageautodeletetimerchanged.py
  telegram/voicechat.py
  tests/test_filters.py
  tests/test_message.py
  tests/test_messageautodeletetimerchanged.py
Due: pylint, mypy-ptb

Chat.message_auto_delete_time
  telegram/chat.py
  telegram/messageautodeletetimerchanged.py
  tests/test_chat.py
Due: pylint, mypy-ptb

Some doc fixes
  telegram/chat.py
  telegram/ext/filters.py
  telegram/message.py
  telegram/messageautodeletetimerchanged.py
Due: pylint, mypy-ptb

Revert "fix: chat_id can be string, message_id only int"
  telegram/bot.py
  telegram/callbackquery.py
  telegram/chat.py
  telegram/message.py
  telegram/user.py
Due: pylint, mypy-ptb

fix: chat_id can be string, message_id only int
  telegram/bot.py
  telegram/callbackquery.py
  telegram/chat.py
  telegram/message.py
  telegram/user.py
Due: pylint, mypy-ptb

tests
  tests/test_updater.py
Due: none

Some doc fixes
  telegram/ext/updater.py
Due: pylint, mypy-ptb

Set logging on vendored lib instead of upstream
  telegram/utils/request.py
Due: pylint, mypy-ptb

address review
  telegram/base.py
  telegram/voicechat.py
  tests/test_voicechat.py
Due: pylint, mypy-ptb

welp
  telegram/voicechat.py
Due: pylint, mypy-ptb

Add voicechat related filters
  telegram/ext/filters.py
  tests/test_filters.py
Due: pylint, mypy-ptb

Fix: Addressing review
  telegram/bot.py
  telegram/chatinvitelink.py
Due: pylint, mypy-ptb

feat: adding chat shortcuts for invite links
  telegram/chat.py
  tests/test_chat.py
Due: pylint, mypy-ptb

fix: changing equality of chatinviteobjects
  telegram/chatinvitelink.py
  tests/test_chatinvitelink.py
Due: pylint, mypy-ptb

Fix Logging for Vendored urllib3 (#2427)
  telegram/utils/request.py
Due: pylint, mypy-ptb

Improve Updater.set_webhook (#2419)
  telegram/ext/updater.py
  tests/test_updater.py
Due: pylint, mypy-ptb

Update pre-commit Settings (#2415)
  .github/CONTRIBUTING.rst
  .github/workflows/pre-commit_dependencies_notifier.yml
  .pre-commit-config.yaml
  Makefile
  examples/conversationbot.py
  examples/conversationbot2.py
  examples/deeplinking.py
  examples/echobot.py
  examples/errorhandlerbot.py
  examples/inlinebot.py
  examples/inlinekeyboard.py
  examples/inlinekeyboard2.py
  examples/nestedconversationbot.py
  examples/passportbot.py
  examples/paymentbot.py
  examples/persistentconversationbot.py
  examples/pollbot.py
  examples/rawapibot.py
  examples/timerbot.py
  requirements-dev.txt
  requirements.txt
  setup.cfg
  telegram/__init__.py
  telegram/__main__.py
  telegram/bot.py
  telegram/chat.py
  telegram/ext/defaults.py
  telegram/ext/filters.py
  telegram/ext/jobqueue.py
  telegram/ext/utils/webhookhandler.py
  telegram/inline/inlinequery.py
  telegram/keyboardbutton.py
  telegram/passport/credentials.py
  telegram/replykeyboardmarkup.py
  telegram/user.py
  telegram/utils/helpers.py
  telegram/utils/request.py
Due: pylint, mypy-ptb, mypy-examples

Non-test comments
  telegram/bot.py
  telegram/chat.py
  telegram/chatinvitelink.py
  telegram/constants.py
  telegram/dice.py
  telegram/message.py
Due: pylint, mypy-ptb

Some test fixes
  telegram/chatinvitelink.py
  tests/test_bot.py
  tests/test_chatinvitelink.py
  tests/test_filters.py
  tests/test_voicechat.py
Due: pylint, mypy-ptb

A bit more tests
  tests/test_bot.py
Due: none

Bump API version in both readmes
  README.rst
  README_RAW.rst
Due: none

Increase coverage
  tests/test_chatmemberhandler.py
Due: none

add bot api version in constants
  .github/pull_request_template.md
  telegram/__main__.py
  telegram/constants.py
Due: pylint, mypy-ptb

addressing review
  .github/pull_request_template.md
  telegram/__init__.py
  telegram/constants.py
  telegram/version.py
Due: pylint, mypy-ptb

add versioning directive
  telegram/constants.py
Due: pylint, mypy-ptb

Add Bot API Version in telegram.constants (#2429)
  .github/pull_request_template.md
  telegram/__init__.py
  telegram/__main__.py
  telegram/constants.py
  telegram/version.py
Due: pylint, mypy-ptb

Update pre-commits additional_reqs
  .pre-commit-config.yaml
Due: none

pre-commit & coverage
  telegram/constants.py
  tests/test_bot.py
Due: pylint, mypy-ptb

Type Hinting Fixes (#2425)
  telegram/bot.py
  telegram/callbackquery.py
  telegram/chat.py
  telegram/message.py
  telegram/user.py
Due: pylint, mypy-ptb

Add Starry & Harshil to credits
  AUTHORS.rst
Due: none

Doc Fixes (#2404)
  .github/CONTRIBUTING.rst
  .readthedocs.yml
  AUTHORS.rst
  README.rst
  README_RAW.rst
  docs/requirements-docs.txt
  docs/source/conf.py
  telegram/bot.py
  telegram/ext/filters.py
  telegram/inline/inlinequery.py
  telegram/user.py
Due: pylint, mypy-ptb

Bump version to v13.4
  CHANGES.rst
  docs/source/conf.py
  telegram/version.py
Due: pylint, mypy-ptb
